@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: rgb(233, 30, 99);
  --purple: rgb(156, 39, 176);
  --blue: rgb(63, 81, 181);
}

.light {
  --text: #040406;
  --background: #f8f8fc;
  --primary: #3448cb;
  --secondary: #8493f0;
  --accent: #E774DE;
}

body {
  color: var(--text);
  background: var(--background);
}

.gradient-text {
  font-weight: 800;
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--pink),
    var(--purple),
    var(--blue),
    var(--pink)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  z-index: 40;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login {
  padding: 0.3rem 1.5rem;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  border: 2px solid #040406;
}

.login:hover {
  background: #d3d6dd;
  color: var(--secondary);
}
.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 60%;
  margin: auto;
  color: #fff;
  text-align: start;
  font-weight: 900;
}

.p {
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
  margin-top: 3%;
  font-size: 1.2rem;
  font-weight: 700;
}
